<% content_for :title do %>buscompany<% end %>

<div id="fenurTab">
<div class="fenurBus">
 	
<%= image_tag "Fenur.png"%>

</div>





<% @list = [
{:name => 'Intercommunal/BTO Norte', :number => 101},
{:name => 'Intercommunal/ Huamhuau', 

<div class="busesBox">
	<ul class="yellowboxlist">
<li>Intercommunal/BTO Norte <span class="boldbusnumber">101</span></li>
<li>Intercommunal/ Huamhuau <span class="boldbusnumber">102</span></li>
<li>Nandu/ Colun <span class="boldbusnumber">103</span></li>
<li>Sol de Pacifico/ Los Pinos <span class="boldbusnumber">104</span></li>
<li>Sol de Pacifico/ Thopson <span class="boldbusnumber">105</span></li>
<li>Las Neves/ BTO Norte <span class="boldbusnumber">106</span></li>
<li>Pehuen/ Pehuen 12 <span class="boldbusnumber">107</span></li>
<li>RYR/ Gumercindo <span class="boldbusnumber">108</span></li>
<li>Sol de Pacifico/23 <span class="boldbusnumber">109</span></li>
<li>Sol de Pacifico/18 <span class="boldbusnumber">110</span></li>
<li>Sol de Pacifico/200 <span class="boldbusnumber">111</span></li>

	</ul>






</div>
</div>


