<% content_for :title do %>bus routes<% end %>

<h1>Bus Routes</h1>


<h3>BUS SCHEDULES</H3> 

<div class="busoptionbox">
<a href="fenur.html">Fenur S.A.</a> <span class="orange-numbered-box">1</span> 
</div>

<div class="busoptionbox">
Vina Bus S.A. <span class="green-numbered-box">2</span> 
</div>

<div class="busoptionbox">
Sol Y MVar S.A. <span class="blue-numbered-box">3</span> 
</div>

<div class="busoptionbox">
Vina Bus S.A. <span class="blue-numbered-box">4</span> 
</div>

<div class="busoptionbox">
VBuses Del Gran Valparaiso S.A. <span class="orange-numbered-box">5</span> 
</div>

<div class="busoptionbox">
VVBuses Del Gran Valparaiso S.A. <span class="orange-numbered-box">6</span> 
</div>

<div class="busoptionbox">  
Top Tur S.A.<span class="red-numbered-box">7</span>
</div>

<div class="busoptionbox"> 
Trolebuses Chile S.A.<span class="green-numbered-box">8</span> 
</div>

<div class="busoptionbox">  
Buses Del Gran Valparaiso S.A.<span class="orange-numbered-box">9</span>
</div>

<div class="busoptionbox"> 
Codetram S.A.<span class="light-blue-numbered-box">10</span> 
</div>

