<% content_for :title do %>Where do you want to go?<% end %>

<div class="wrapper" onload="initialize()">


<h1>Where do you want to go?</h1>

<br/>


    <div id="locationField">
      <input id="autocomplete" placeholder="Enter your address" type="text"></input>
    </div>

<br/>

<%= link_to '', id: 'go', onclick: "getLocation();" do %>
<h1>GO!</h1>
<% end %>

<script type="text/javascript">

var placeSearch, autocomplete;


function initialize() {
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete = new google.maps.places.Autocomplete(
      document.getElementById('autocomplete'),
      { types: ['geocode'],
        componentRestrictions: {country: 'cl'}
      });
      
      }


function fillInAddress() {
  // Get the place details from the autocomplete object.
  var place = autocomplete.getPlace();

  for (var component in componentForm) {
    document.getElementById(component).value = '';
    document.getElementById(component).disabled = false;
  }
  
  }



$(document).ready(initialize)



/* Getting Information of the current position and pass to the URL */
function getLocation(){
  var loc = autocomplete.getPlace().geometry.location;
  location.href = '<%= path_path %>?org_lat=<%= params[:lat] %>&org_lng=<%= params[:lng] %>&dst_lat=' + loc.k + '&dst_lng=' + loc.A;
}
 

</script>


</div>
</div>
