/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./application
 *= require_self
 */

body {
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;
margin-top: -20px;
}


.navbar {
display: none;
}



.container, main {
margin: 0;
padding: 0;
}




#wrapper {
width: 100%;
height: 568px;
max-height: 568px;
background: #636466;
}

.content {
max-width: 320px;/* **especial para iPhone, mudar de lugar */
margin: 0 auto;
background: #E2DEDE;
position: relative;
}

#wrapper_tab {
max-width: 240px;/* **especial para iPhone, mudar de lugar */
margin: 0 auto;
background: #E2DEDE;
position: relative;
float: right;
}

#result_wrapper {
padding-left: 10px;
padding-right: 10px;
}



/* //CUSTOM NAVIGATION */
.custom_nav {
    height: 50px;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 999;
    padding-top: 5px;
    border-bottom: 1px solid white;
}

.menu_ico img {
	float: left;
	width: 45px;
	height: auto;
	padding-left: 10px;
}

.search_ico {
	float: right;
	width: 45px;
	height: auto;
	padding-right: 10px;
}

.bus_ico {
	float: right;
	padding-top: 2px;
    width: 51px;
	height: auto;
	padding-right: 10px;
}



.home_ico img {
	float: right;
	width: 45px;
	height: auto;
	padding-right: 10px;
}


/* //HOME CSS */

#btn_go_home {
background: #E2DEDE;
width: 100%;
height: 259px;
z-index: 1;
position: absolute;
}

	#btn_go_home h1 {
	width: 100%;
	height: 259px;
	background: #E2DEDE;
	text-align: center;
	padding-top: 30px;
	font-weight: 100;
	color: #000000;
	font-size: 32px;
	}


#btn_where_to {
background: #E2DEDE;
width: 100%;
height: 259px;
z-index: 1;
position: absolute;
top:259px;
border-top: 2px solid white;
}

	#btn_where_to_go h1 {
	width: 100%;
	height: 259px;
	background: #E2DEDE;
	text-align: center;
	padding-top: 120px;
	font-weight: 300;
	color: #ED1A3B;
	font-size: 32px;
	}
	

/* //SEARCH CSS */
#search_area {
position: absolute;
background: #E2DEDE;
height: 568px;
padding: 20px;
position: absolute;	
text-transform: uppercase;
}

#search_area h1 {
padding-top: 40px;
font-weight: 100;
color: #ED1A3B;
}

	#locationField, input {
		width: 100%;
		height: 35px;
		margin-top: 0px;
	}
	
	#go h2 {
	text-align: center;
	text-transform: uppercase;
	background: black;
	width: 100%;
	height: 50px;
	padding-top: 8px;
	margin-top: 170px;
	}


#advertising {
width: 100%;
height: 50px;
background-color: #636466;
text-align: center;
text-transform: uppercase;
font-family: sans-serif;
font-size: medium;
position: absolute;
top: 518px;
z-index: 5;
font-weight: 100;
color: #ffffff;
letter-spacing: 3px;
padding-top: 18px;
font-size: x-small;
}

/* //PATH CSS */

#route_result {
margin-top: 75px;
font-size: 20px;

}


#route_result h7 {
font-weight: 700;
font-size: 36px;
text-align: left;
}


#dest_adrees {
padding-top: 10px;
padding-bottom: 10px;
font-weight: 100;
font-size: 15px;
}

#fare_result {
margin-top: 15px;
padding-bottom: 15px;
}

#fare_result h8 {
padding: 0px;
margin: 0px;
font-size: 15px;
}

#result_alert {
width: 100%;
height: 65px;
background: #ED1A3B;
color: white;
text-transform: uppercase;
font-weight: 700;
padding-top: 20px;
font-size: 20px;
}


#result_alert img {
width: 40px;
height: 40px;
float: left;
margin: 0, 20, 0, 20;
}

/* //Circulo do mapa */
#middle {
-webkit-border-radius: 235px;
-moz-border-radius: 235px;
border-radius: 235px;

-webkit-mask-image: url(circle.svg);

overflow: hidden;
z-index: 995;
position: absolute;
top: 130px;
margin: 0 auto;
width: 235px;
height: 235px;
border: 1px white solid;
margin-left: 41px;
}

.box {
	/*border-radius: 315px;*/
    width: 235px;
    height: 235px;
    background-color: #ffffff;
    border: 1px white solid;
	padding-left: 50px;
}


#info_overlay {
background: black;
opacity: 0.5;
width: 100%;
height: 100px;
position: absolute;
top: 155px;
z-index: 999;

}

#info_overlay h1 {
color: white;
font-weight: 100;
font-size: 15px;
text-align: center;
padding-top: 10px;
text-transform: uppercase;

}



/* //CSS ACORDIOM BUS */
/*Define Accordion box*/  
.accordion {   
     width:100%;  
     overflow:hidden;   
     margin:10px auto;   
     color:#474747;   
     background:#414141;   
     padding:10px;   
} 


/* Header contents (buttons) */

    .accordion section{   
          float:left;  
          overflow:hidden;   
          color:#333;   
          cursor:pointer;   
          background: #333;   
          margin:3px;   
    }  
    .accordion section:hover {  
          background:#444;  
    }  
    
    .accordion section p {   
          display:none;   
    }  
    
    .accordion section:after{  
      position:relative;  
      font-size:24px;  
      color:#000;  
      font-weight:bold;  
} 

.accordion section:target {   
      background:#FFF;   
      padding:10px;  
}  
.accordion section:target:hover {   
      background:#FFF;   
}  
.accordion section:target h2 {  
      width:100%;  
}  
.accordion section:target h2 a{   
      color:#333;   
      padding:0;  
}  
.accordion section:target p {  
      display:block;  
}  
.accordion section h2 a{  
      padding:8px 10px;  
      display:block;   
      font-size:16px;   
      font-weight:normal;  
      color:#eee;   
      text-decoration:none;   
} 

/* //Vertical Accordion */
    .vertical section{   
         width:100%;   
         height:40px;   
         -webkit-transition:height 0.2s ease-out;  
         -moz-transition:height 0.2s ease-out;  
         -o-transition:height 0.2s ease-out;  
         transition:height 0.2s ease-out;  
    }  
      
    /*Set height of the slide*/  
    .vertical :target{   
         height:250px;   
         width:97%;  
    }  
    
    .vertical section h2 {   
     position:relative;   
     left:0;   
     top:-15px;   
}  
/*Set position of the number on the slide*/  
.vertical section:after{   
      top:-60px;  
      left:810px;  
}  
.vertical section:target:after{   
      left:-9999px;  
} 


/*green button on Options page */

#sidebutton {
    float: left;
    margin-left: -20px;
    margin-top: 220px;
    position: absolute;
    z-index: 90;
}

#sidebutton img {
	width: 55px;
	height: 55px;
}



a.trigger {
	postition: absolute;
	display:block;
	float:left;
}

/*green sliding panel. */
.panel {	
	display:none;
	float: right;
    margin-left: 0;
    margin-top: 0px;
    opacity: 0.85;
    position: absolute;
    width: 40px;
    height: 284px;
    z-index: 99;
    background: #00AC4E;
}


/*fized pannel to path */
.panel_fixed {	
	float: left;
    margin-left: 0;
    margin-top: 0px;
    opacity: 0.85;
    position: absolute;
    width: 80px;
    height: 567px;
    z-index: 99;
    background: #00AC4E;
}


.panel_fixed img {
	max-height: 547px;
	padding-left: 5px;
	padding-top: 25px;
}

