/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./application
 *= require_self
 */

body {
margin: 0;
padding: 0;
font-family: 'Lato', sans-serif;
margin-top: -20px;
}



.container, main {
margin: 0;
padding: 0;
}




#wrapper {
width: 100%;
height: 568px;
max-height: 568px;
background: #636466;
}

.content {
max-width: 320px;/* **especial para iPhone, mudar de lugar */
margin: 0 auto;
background: #E2DEDE;
position: relative;
}

#wrapper_tab {
max-width: 280px;/* **especial para iPhone, mudar de lugar */
margin: 0 auto;
background: #E2DEDE;
position: relative;
float: right;
}

#result_wrapper {
padding-left: 10px;
padding-right: 10px;
}



/* //CUSTOM NAVIGATION */
.custom_nav {
    height: 50px;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 999;
    padding-top: 5px;
    border-bottom: 1px solid white;
}

.menu_ico img {
	float: left;
	width: 45px;
	height: auto;
	padding-left: 10px;
}

.search_ico {
	float: right;
	width: 45px;
	height: auto;
	padding-right: 10px;
}

.home_ico img {
	float: right;
	width: 45px;
	height: auto;
	padding-right: 10px;
}


/* //HOME CSS */

#btn_go_home {
background: #E2DEDE;
width: 100%;
height: 259px;
z-index: 1;
position: absolute;
}

	#btn_go_home h1 {
	width: 100%;
	height: 259px;
	background: #E2DEDE;
	text-align: center;
	padding-top: 30px;
	font-weight: 100;
	color: #000000;
	font-size: 32px;
	}


#btn_where_to {
background: #E2DEDE;
width: 100%;
height: 259px;
z-index: 1;
position: absolute;
top:259px;
border-top: 2px solid white;
}

	#btn_where_to_go h1 {
	width: 100%;
	height: 259px;
	background: #E2DEDE;
	text-align: center;
	padding-top: 120px;
	font-weight: 300;
	color: #ED1A3B;
	font-size: 32px;
	}
	

/* //SEARCH CSS */
#search_area {
position: absolute;
background: #E2DEDE;
height: 568px;
padding: 20px;
position: absolute;	
text-transform: uppercase;
}

#search_area h1 {
margin-top: 70px;
font-weight: 100;
color: #ED1A3B;
}

	#locationField, input {
		width: 100%;
		height: 35px;
		margin-top: 0px;
	}
	
	#go h2 {
	text-align: center;
	text-transform: uppercase;
	background: black;
	width: 100%;
	height: 50px;
	padding-top: 8px;
	margin-top: 170px;
	}


#advertising {
width: 100%;
height: 50px;
background-color: #636466;
text-align: center;
text-transform: uppercase;
font-family: sans-serif;
font-size: medium;
position: absolute;
top: 518px;
z-index: 5;
font-weight: 100;
color: #ffffff;
letter-spacing: 3px;
padding-top: 18px;
font-size: x-small;
}

/* //PATH CSS */

#route_result {
margin-top: 75px;
font-size: 20px;

}


#route_result h7 {
font-weight: 700;
font-size: 36px;
text-align: left;
}


#dest_adrees {
padding-top: 20px;
padding-bottom: 20px;
font-weight: 100;
}

/* //Circulo do mapa */
#middle {
-webkit-border-radius: 235px;
-moz-border-radius: 235px;
border-radius: 235px;

-webkit-mask-image: url(circle.svg);

overflow: hidden;
z-index: 995;
position: absolute;
top: 130px;
margin: 0 auto;
width: 235px;
height: 235px;
border: 1px white solid;
margin-left: 41px;
}

.box {
	/*border-radius: 315px;*/
    width: 235px;
    height: 235px;
    background-color: #ffffff;
    border: 1px white solid;
	padding-left: 50px;
}


#info_overlay {
background: black;
opacity: 0.5;
width: 100%;
height: 100px;
position: absolute;
top: 155px;
z-index: 999;

}

#info_overlay h1 {
color: white;
font-weight: 100;
font-size: 15px;
text-align: center;
padding-top: 10px;
text-transform: uppercase;

}





/*green button on Options page */

#sidebutton {
    float: left;
    margin-left: -20px;
    margin-top: 220px;
    position: absolute;
    z-index: 90;
}

#sidebutton img {
	width: 55px;
	height: 55px;
}



a.trigger {
	postition: absolute;
	display:block;
	float:left;
}

/*green sliding panel. */
.panel {	
	display:none;
	float: right;
    margin-left: 0;
    margin-top: 0px;
    opacity: 0.85;
    position: absolute;
    width: 40px;
    height: 284px;
    z-index: 99;
    background: #00AC4E;
}


/*fized pannel to path */
.panel_fixed {	
	float: left;
    margin-left: 0;
    margin-top: 0px;
    opacity: 0.85;
    position: absolute;
    width: 40px;
    height: 284px;
    z-index: 99;
    background: #00AC4E;
}


